contourpy==1.0.7
coverage==7.2.2
cycler==0.11.0
data==0.4
decorator==5.1.1
fonttools==4.39.3
funcsigs==1.0.2
future==0.18.3
kiwisolver==1.4.4
latex==0.7.0
matplotlib==3.7.1
ncon==2.0.0
numpy==1.24.2
ordered-set==4.1.0
packaging==23.0
Pillow==9.5.0
pyparsing==3.0.9
python-dateutil==2.8.2
SciencePlots==2.0.1
scipy==1.10.1
shutilwhich==1.1.0
six==1.16.0
tempdir==0.7.1
tqdm==4.65.0
